<div class="mz-start-background">
  <img src="../assets/images/bg-first.svg" class="mz-bg-first" />
  <img src="../assets/images/bg-first.svg" class="mz-bg-second" />
  <img src="../assets/images/bg-first.svg" class="mz-bg-third" />
</div>

<header class="main-header">
  <img src="../../../../assets/images/memozi-logo.svg" class="mz-logo" alt="memozi logo" />
</header>

<main class="main-container">
  <router-outlet></router-outlet>
</main>

<footer class="main-footer">
  <p class="mz-footer-note chewy">Made as an preview for my github, enjoy!</p>
</footer>
