*, *::before, *::after {
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-color: #0072FA;
}

.chewy {
  font-family: 'Chewy', cursive;
}

header.main-header {
  h1 {
    margin: 0;
  }
}

footer.main-footer {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  text-align: center;
}
